@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* line 34, C:/Ruby193/lib/ruby/gems/1.9.1/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php'); }

/* line 36, C:/Ruby193/lib/ruby/gems/1.9.1/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php'); }

/* line 4, C:/Ruby193/lib/ruby/gems/1.9.1/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* use:
	@include keyframes(slide-down) {
	  0% { opacity: 1; }
	  90% { opacity: 0; }
	}

	.element {
	  width: 100px;
	  height: 100px;
	  background: black;
	  @include animation('slide-down 5s 3');
	}
*/
/* Lightens background color on hover */
/* Darkens background color on hover */
/* line 1, ../sass/base/_anchor.scss */
a {
  text-decoration: none !important; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 2, ../sass/components/_header.scss */
.l-header-info {
  background-color: #94be25;
  height: 30px; }

/* line 8, ../sass/components/_header.scss */
.l-header-nav {
  background-color: #1d1d1b;
  border-bottom: solid 5px #ee750f; }
  @media (min-width: 44em) {
    /* line 8, ../sass/components/_header.scss */
    .l-header-nav {
      max-heigt: 80px; } }

@media (min-width: 44em) {
  /* line 17, ../sass/components/_header.scss */
  .logo {
    margin: 0;
    padding: 0;
    height: 80px;
    float: left; }
    /* line 24, ../sass/components/_header.scss */
    .logo img {
      height: 50px;
      margin: 15px 0px; }
    /* line 28, ../sass/components/_header.scss */
    .logo:hover {
      background-image: url("../images/hover-triangle.png");
      background-repeat: no-repeat;
      background-position: center top; } }

@media (min-width: 44em) {
  /* line 36, ../sass/components/_header.scss */
  .l-region--navigation {
    float: right; }
    /* line 42, ../sass/components/_header.scss */
    .l-region--navigation .block__title {
      display: none; }
    /* line 47, ../sass/components/_header.scss */
    .l-region--navigation .menu {
      list-style: none;
      padding: 0;
      margin: 0; }
      /* line 51, ../sass/components/_header.scss */
      .l-region--navigation .menu .leaf, .l-region--navigation .menu .expanded, .l-region--navigation .menu .collapsed {
        list-style: none;
        padding: 0;
        margin: 0;
        float: left; }
        /* line 57, ../sass/components/_header.scss */
        .l-region--navigation .menu .leaf a, .l-region--navigation .menu .expanded a, .l-region--navigation .menu .collapsed a {
          margin: 0;
          display: block;
          padding: 0 15px;
          height: 80px;
          font-family: Open Sans, sans-serif;
          color: white;
          vertical-align: middle;
          text-align: center;
          line-height: 80px;
          font-size: 20px;
          font-variant: small-caps; }
          /* line 71, ../sass/components/_header.scss */
          .l-region--navigation .menu .leaf a:hover, .l-region--navigation .menu .expanded a:hover, .l-region--navigation .menu .collapsed a:hover {
            background-image: url("../images/hover-triangle.png");
            background-repeat: no-repeat;
            background-position: center top; }
        /* line 77, ../sass/components/_header.scss */
        .l-region--navigation .menu .leaf .active, .l-region--navigation .menu .expanded .active, .l-region--navigation .menu .collapsed .active {
          background-color: #ee750f; }
        /* line 83, ../sass/components/_header.scss */
        .l-region--navigation .menu .leaf .menu, .l-region--navigation .menu .expanded .menu, .l-region--navigation .menu .collapsed .menu {
          display: none; }
          /* line 85, ../sass/components/_header.scss */
          .l-region--navigation .menu .leaf .menu .leaf, .l-region--navigation .menu .leaf .menu .expanded, .l-region--navigation .menu .leaf .menu .collapsed, .l-region--navigation .menu .expanded .menu .leaf, .l-region--navigation .menu .expanded .menu .expanded, .l-region--navigation .menu .expanded .menu .collapsed, .l-region--navigation .menu .collapsed .menu .leaf, .l-region--navigation .menu .collapsed .menu .expanded, .l-region--navigation .menu .collapsed .menu .collapsed {
            padding: 0; } }

/* line 95, ../sass/components/_header.scss */
.l-page-header {
  background-color: #ececec; }

/* line 1, ../sass/components/_page_structure.scss */
body {
  background-color: #1d1d1b; }

/* line 5, ../sass/components/_page_structure.scss */
.l-main {
  background-color: white; }

/* line 9, ../sass/components/_page_structure.scss */
.l-page {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  margin: 0 auto; }
  /* line 48, C:/Ruby193/lib/ruby/gems/1.9.1/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
  .l-page:before, .l-page:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  /* line 55, C:/Ruby193/lib/ruby/gems/1.9.1/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
  .l-page:after {
    clear: both; }
  @media (min-width: 44em) {
    /* line 9, ../sass/components/_page_structure.scss */
    .l-page {
      width: 44em; } }
  @media (min-width: 960px) {
    /* line 9, ../sass/components/_page_structure.scss */
    .l-page {
      width: 960px; } }

@media (min-width: 44em) {
  /* line 22, ../sass/components/_page_structure.scss */
  .l-header-info-one {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; } }

@media (min-width: 44em) {
  /* line 29, ../sass/components/_page_structure.scss */
  .l-header-info-two {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 25.53191%;
    clear: none; } }

@media (min-width: 44em) {
  /* line 36, ../sass/components/_page_structure.scss */
  .l-header-info-three {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 51.06383%;
    clear: none; } }

@media (min-width: 44em) {
  /* line 43, ../sass/components/_page_structure.scss */
  .l-header-info-four {
    width: 23.40426%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (min-width: 44em) {
  /* line 50, ../sass/components/_page_structure.scss */
  .l_footer_info_one {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; } }

@media (min-width: 44em) {
  /* line 57, ../sass/components/_page_structure.scss */
  .l_footer_info_two {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 25.53191%;
    clear: none; } }

@media (min-width: 44em) {
  /* line 64, ../sass/components/_page_structure.scss */
  .l_footer_info_three {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 51.06383%;
    clear: none; } }

@media (min-width: 44em) {
  /* line 71, ../sass/components/_page_structure.scss */
  .l_footer_info_four {
    width: 23.40426%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (min-width: 44em) {
  /* line 78, ../sass/components/_page_structure.scss */
  .l_footer_main_one {
    width: 48.93617%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; } }

@media (min-width: 44em) {
  /* line 85, ../sass/components/_page_structure.scss */
  .l_footer_main_two {
    width: 48.93617%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
