// Site Colors //
$dropsolid-green: #94be25;
$dropsolid-orange: #ee750f;
$dropsolid-grey: #1d1d1b;

$white: #FFFFFF;

// Social Media //
$fb: #3B5998;
$fb-light: #8B9DC3;

$twitter: #41B7D8;

$google: #D64937;
$google-blue: #3369E8;
$google-red: #D50F25;
$google-yellow: #EEB211;
$google-green: #009925;